  <%- include('header', {title: "Sightings By Shape", css: "/shapes-styles.css"}); %>
    <main>
      <h1 class="d-flex justify-content-center ufo-sighting-title">
        🛸 FIND A SIGHTING BY UFO SHAPE 🛸
      </h1>

      <div class="container d-flex justify-content-center container-sightings">
        <div class="row d-flex align-items-center flex-column row-sightings">
          <div class="sighting-list-title">CHOOSE A SHAPE!</div>
          <div class="sighting-list">
            <ol>
              <% shapesList.forEach((element, index) => { %>
              <a href="/shapes/<%= element %>" class="a-sighting"
                ><li><%= element %></li></a
              >
              <% }); %>
            </ol>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
