<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sightings By Shape 👽</title>
    <link rel="stylesheet" href="/shapes-styles.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav>
      <div class="container mw-100">
        <div class="row">
          <div class="col-4 d-flex justify-content-center col-nav">
            <a href="/" class="a-nav">Home</a>
          </div>
          <div class="col-4 d-flex justify-content-center col-nav">
            <a href="/sighting" class="a-nav">Report A Sighting</a>
          </div>
          <div class="col-4 d-flex justify-content-center col-nav">
            <a href="/shapes" class="a-nav"> Find Sighting By Shape</a>
          </div>
        </div>
      </div>
    </nav>
    <main>
      <h1 class="d-flex justify-content-center ufo-sighting-title">
        🛸 FIND A SIGHTING BY UFO SHAPE 🛸
      </h1>

      <div class="container d-flex justify-content-center container-sightings">
        <div class="row d-flex align-items-center flex-column row-sightings">
          <div class="sighting-list-title">CHOOSE A SHAPE!</div>
          <div class="sighting-list">
            <ol>
              <% shapesList.forEach((element, index) => { %>
              <a href="/shapes/<%= element %>" class="a-sighting"
                ><li><%= element %></li></a
              >
              <% }); %>
            </ol>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
