<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sightings By Shape 👽</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap"
      rel="stylesheet"
    />
    <style>
      .col-nav {
        background-color: grey;
        opacity: 80%;
      }
      main {
        margin-top: 50px;
      }

      .a-nav:visited,
      .a-nav:link {
        color: rgb(177, 255, 59);
        font-size: 25px;
        font-family: "Orbitron", sans-serif;
        padding: 10px;
      }

      body {
        background-image: url("https://i.stack.imgur.com/Mv83H.png");
      }

      .row-sightings {
        background-color: grey;
        opacity: 80%;
        padding: 40px 60px 40px 60px;
      }

      h1 {
        margin-bottom: 25px;
      }

      .ufo-sighting-title {
        color: greenyellow;
        font-family: "Orbitron", sans-serif;
        font-size: 60px;
      }

      .sighting-list-title {
        margin-bottom: 40px;
        font-size: 35px;
        color: rgb(177, 255, 59);
        font-family: "Orbitron", sans-serif;
        background-color: rgba(128, 128, 128, 0.291);
        width: 100%;
        background-color: rgba(0, 0, 0, 0.318);
        padding: 00px 60px 00px 60px;
      }

      .a-sighting:link,
      .a-sighting:visited {
        color: greenyellow;
        font-size: 22px;
        font-family: "Orbitron", sans-serif;
      }

      @media screen and (min-width: 1440px) {
        .a-nav:visited,
        .a-nav:link {
          font-size: 22px;
        }
      }

      @media screen and (min-width: 1024px) and (max-width: 1439px) {
        .a-nav:visited,
        .a-nav:link {
          font-size: 20px;
        }
      }
      @media screen and (min-width: 768px) and (max-width: 1023px) {
        .a-nav:visited,
        .a-nav:link {
          font-size: 15px;
        }
      }
      @media screen and (min-width: 425px) and (max-width: 767px) {
        .a-nav:visited,
        .a-nav:link {
          font-size: 13px;
        }
      }
      @media screen and (min-width: 375px) and (max-width: 424px) {
        .a-nav:visited,
        .a-nav:link {
          font-size: 8px;
        }
      }
      @media screen and (min-width: 0px) and (max-width: 374px) {
        .a-nav:visited,
        .a-nav:link {
          font-size: 7px;
        }
      }
    </style>
  </head>
  <body>
    <nav>
      <div class="container mw-100">
        <div class="row">
          <div class="col-4 d-flex justify-content-center col-nav">
            <a href="/" class="a-nav">Home</a>
          </div>
          <div class="col-4 d-flex justify-content-center col-nav">
            <a href="/sighting" class="a-nav">Report A Sighting</a>
          </div>
          <div class="col-4 d-flex justify-content-center col-nav">
            <a href="/shapes" class="a-nav"> Find Sighting By Shape</a>
          </div>
        </div>
      </div>
    </nav>
    <main>
      <h1 class="d-flex justify-content-center ufo-sighting-title">
        🛸 FIND A SIGHTING BY UFO SHAPE 🛸
      </h1>

      <div class="container d-flex justify-content-center container-sightings">
        <div class="row d-flex align-items-center flex-column row-sightings">
          <div class="sighting-list-title">CHOOSE A SHAPE!</div>
          <div class="sighting-list">
            <ol>
              <% shapesList.forEach((element, index) => { %>
              <a href="/shapes/<%= element %>" class="a-sighting"
                ><li><%= element %></li></a
              >
              <% }); %>
            </ol>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
